.centertextblock{
        height: 60px !important;
        margin: 0 36% 0 36% !important;
        font-size: 15px;
}
.fullblock {
        height: 110px !important;
}
.text {
        font-size: 25px !important;
}
.p1.fullblock{
        left: 7.8% !important;
}
.p2.fullblock{
        right: 7.8% !important;
}
.grow {
        width: 610px !important;
}
