.p1.fullblock {
        transform: skew(40deg);
}
.p1.text {
        transform: skew(-40deg);
}
.p2.fullblock {
        transform: skew(-40deg);
}
.p2.text {
        transform: skew(40deg);
}

.centertextblock{
        height: 25px !important;
        margin: 0 35% 0 35% !important;
}
.fullblock {
        height: 60px !important;
}
.grow {
        width: 600px !important;
}
