@font-face {
        font-family: Interceptor;
        src: url('/static/fonts/Interceptor/Interceptor.otf') format("opentype");
}
body {
        overflow-y: hidden;
        font-family: Interceptor;
}
#wrapper {
        position:absolute;
        left:0;
        top:0;
        bottom:0;
        right:0;
        width:1920px;
        transition: transform .5s ease-in-out;
}
.nameblock {
        display: flex;
        background: black;
        opacity: 95%;
        flex: 1;
        align-items: center;
        position:relative;
        overflow: hidden;
}
.p1.nameblock{
        justify-content: right;
}
.p2.nameblock{
        justify-content: left;
}

.prefix {
        color: red;
}
.name {
        color: white;
}
.text {
        opacity: 100%;
        font-size: 25px;
}
.p1.text {
        margin: auto;
}
.p2.text {
        margin: auto;
}

.scoreblock {
        background: red;
        display:flex;
        flex: 1;
        max-width: 70px;
        align-items: center;
        position: relative;
        overflow: hidden;
}
.score{
        color: black;
        display: flex;
}
.centertextblock {
        font-size: 10px;
        background: black;
        opacity: 95%;
        position:absolute;
        top: 0;
        left:0;
        right:0;
        height: 25px;
        z-index: 1;
        margin: 0 35% 0 35%;
        line-height: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

}
.fullblock {
        height: 60px;
        width:0px;
        text-align: center;
        position: absolute;
        top: 0;
        z-index: 3;
        display: flex;
        transition: width 0.5s ease-in-out;
}
.p1.fullblock {
        left: 7.4%;
}
.p2.fullblock {
        right:7.4%;
}
#centertext {
        position: static;
        color: white;
}
.moveup {
        transform: translateY(-200px);
}
.up {
        transform: translateY(-200px);
}
.grow {
        width: 600px;
        transition-delay: 0.5s;
}
.shrink {
        width: 0px;
        /*transition: none;*/
        transition-delay: 0.3s;
}

.nametable {
        padding-left: 17px;
        padding-right: 17px;
}
#p1score, #p2score {
        transition: transform 0.2s ease-in-out;
}
.scoreup {
        transform: translateY(-100px) !important;
}
.scoredown {
        transform: translateY(50px) !important;
        transition: none !important;
}

