<div style="width: 270px">
        {% if secret == none %}
                <form id="secret_form" action"{% url 'home' %}" method="post">{% csrf_token %}
                        <label>Enter Secret</label>
                        <input type="text" id="secret" name="secret"/>
                        <input type="submit" value="Submit"/>
                </form>
        {% else %}
                <h2 id="error" style="color: red;"></h2>
                <input type="text" id="slug" name="slug" value="{{slug}}" placeholder="Startgg Slug"></input>
                <input type="hidden" id="secret" name="secret" value="{{secret}}"/>
                <input id="submit_slug" type="button" value="Submit"></input>
                <br/>
                <label>Select Event</label>
                <select id="event" name="event">
                        <option value="bad">--Waiting for slug--</option>
                </select>
                <br />
                <label>Select Match</label>
                <select id="match" name="match">
                        <option value="bad">--Waiting for event--</option>
                </select>
                <input type="hidden" id="matchData"></input>
                <br/>
                <input type="text" id="p1Team" placeholder="Team" style="width: 50px"/>
                <input type="text" id="p1Name" placeholder="Name"/>
                <br />
                <input type="text" id="p2Team" placeholder="Team" style="width: 50px"/>
                <input type="text" id="p2Name" placeholder="Name"/>
                <br/>
                <label>P1 Score</label>
                <input type="number" id="p1Score" style="width: 40px" value=0 />
                <label>P2 Score</label>
                <input type="number" id="p2Score" style="width: 40px" value=0 />
                <br/>
                <label>Center Text</label>
                <input type="text" id="centerText"></input>
                <br/>
                <input type="hidden" id="game" value="{{ set_list.meta.game }}">{{ set_list.meta.game}}</input>
                <button id="swap">Swap</button>
                <button id="update" >Update Score</button>
                <br />
                <a href="{% url 'view' %}?s={{secret}}", target="_blank">View Overlay</a>
                <script type="text/javascript">
                        document.getElementById("submit_slug").addEventListener("click", function() {
                                const slug = document.getElementById("slug").value
                                fetch('{% url "getslug" %}?s='.concat(slug))
                                .then(result => result.json())
                                .then((output) => {
                                        let option_options = document.getElementById("event").options;
                                        for (i = option_options.length-1; i>= 0; i--) {
                                                option_options.remove(i)
                                        }
                                        var i = 0;
                                        option_options[i] = new Option("--Select Event--", "bad");
                                        for (const [key, value] of Object.entries(output)) {
                                                i = i+1;
                                                value_string = String(value["id"]).concat(",").concat(value['game']);
                                                option_options[i] = new Option(key, value_string);
                                         }
                                })
                        });
                        document.getElementById("event").addEventListener("change", function() {
                                if (document.getElementById("event").value != "bad") {
                                        const event_data = document.getElementById("event").value.split(",");
                                        document.getElementById("game").value = event_data[1];
                                        fetch('{% url "getsets" %}?e='.concat(event_data[0]))
                                        .then(result => result.json())
                                        .then((output) => {
                                                console.log(output);
                                                let option_options = document.getElementById("match").options;
                                                for (i = option_options.length-1; i>= 0; i--) {
                                                        option_options.remove(i)
                                                }
                                                var i = 0;
                                                option_options[i] = new Option("--Select Match--", "bad");
                                                for (const [key, value] of Object.entries(output)) {
                                                        i = i+1;
                                                        option_options[i] = new Option(key, key);
                                                }
                                                document.getElementById("matchData").value = JSON.stringify(output);
                                        });

                                }
                        });
                        document.getElementById("match").addEventListener("change", function() {
                                const json_data = document.getElementById("matchData").value;
                                const set_list = JSON.parse(json_data);
                                const value = document.getElementById("match").value;
                                if (value != 'bad') {
                                        document.getElementById("p1Team").value = set_list[value]['p1Prefix'];
                                        document.getElementById("p1Name").value = set_list[value]['p1Name'];
                                        document.getElementById("p2Team").value = set_list[value]['p2Prefix'];
                                        document.getElementById("p2Name").value = set_list[value]['p2Name'];
                                        document.getElementById("centerText").value = set_list[value]['roundText'];
                                }
                                updateScores();
                        });
                        document.getElementById("swap").addEventListener("click", function() {
                                var p1team = document.getElementById("p1Team").value;
                                var p1name = document.getElementById("p1Name").value;
                                var p2team = document.getElementById("p2Team").value;
                                var p2name = document.getElementById("p2Name").value;
                                document.getElementById("p1Team").value = p2team;
                                document.getElementById("p1Name").value = p2name;
                                document.getElementById("p2Team").value = p1team;
                                document.getElementById("p2Name").value = p1name;
                        });
                        document.getElementById("update").addEventListener("click", updateScores);
                        document.getElementById("p1Score").addEventListener("input", updateScores);
                        document.getElementById("p2Score").addEventListener("input", updateScores);
                        function updateScores() {
                                var postData = {'secret': "{{secret}}"}
                                const elements = {
                                        "p1_tag": "p1Team",
                                        "p1_name": "p1Name",
                                        "p2_tag": "p2Team",
                                        "p2_name": "p2Name",
                                        "p1_score": "p1Score",
                                        "p2_score": "p2Score",
                                        "center_text": "centerText",
                                        "game": "game"
                                };
                                for (const [key, value] of Object.entries(elements)) {
                                        postData[key] = document.getElementById(value).value;
                                }
                                console.log(postData)
                                if (postData['p1_score'] == "") {
                                        postData['p1_score'] = 0;
                                }
                                if (postData['p2_score'] == "") {
                                        postData['p2_score'] = 0;
                                }
                                console.log(postData);
                                fetch("{% url 'updatescores'%}", {
                                        method: "POST",
                                        headers: {
                                                'Accept': 'application/json',
                                                'X-CSRFToken': '{{csrf_token}}',
                                                'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify(postData),
                                })
                                .then( (response) => {
                                        console.log(response);
                                });
                        };
                </script>
        {%endif%}
</div>
